.btn {
  display: block;
}
.clickMeBtn {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  /* position: absolute; */
}
.clickMeBtn2 {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  /* position: relative;
  top: 60px;
  z-index: 0; */
}
.list {
  list-style-type: none;
  background-color: lightgray;
  width: 100px;
  /* position: relative;
  top: 48px;
  z-index: 1; */
  display: none;
  position: relative;
}
.list > li {
  padding: 10px;
}
